<main role="main" class="container">
  <div class="container">
    <form [formGroup]="addForm" (ngSubmit)="addContact()">
      <div class="card text-secondary">
        <div class="card-body">
          <div class="form-group row">
            <label for="fullName" class="col-sm-2 col-form-label">Full Name
              <span class="badge text-danger">*</span>
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="fullName" placeholder="Name" formControlName="name">
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">Email
              <span class="badge text-danger">*</span>
            </label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email">
            </div>
          </div>
          <div class="form-group row">
            <label for="telephone" class="col-sm-2 col-form-label">Telephone
              <span class="badge text-danger">*</span>
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="telephone" placeholder="Telephone" formControlName="phone">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 d-flex justify-content-md-end">
              <button type="button" class="btn btn-light text-danger mr-1" routerLink="/">
                <i class="fa fa-times"></i>
                Cancel
              </button>
              <button type="submit" class="btn btn-success ext-dark" [disabled]="addForm.invalid">
                <i class="fa fa-save"></i>
                Save
              </button>
            </div>

          </div>
        </div>
      </div>
    </form>
  </div>
</main>